rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /crimes/{date} {
      allow read: if true;
      allow write: if false;
    }
    match /_meta/{document} {
      allow read, write: if false;
    }
    match /gameStats/{document} {
      allow read: if true;
      allow write: if true;
    }
  }
}
