.case-view {
  font-family: 'PxPlus IBM VGA8', monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  font-smooth: never;
  text-rendering: optimizeSpeed;
}

.separator-full-width {
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .case-view .terminal-header {
    margin-left: -16px;
    margin-right: -16px;
    width: calc(100% + 32px);
    max-width: 100vw;
    box-sizing: border-box;
  }
  .case-view .separator-full-width {
    width: 100%;
    box-sizing: border-box;
  }
}
