.case-view {
  font-family: 'PxPlus IBM VGA8', monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  font-smooth: never;
  text-rendering: optimizeSpeed;
}

/* Edge-to-edge: header quebra o padding do .app */
.case-view .terminal-header {
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px);
  max-width: 100vw;
  box-sizing: border-box;
}

.case-view .separator-full-width {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}
